*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #272626;
}

.container{
  max-width: 900px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 35px 55px rgba(0, 0, 0, .3);
  box-shadow: 0 35px 55px rgba(0, 0, 0, .3);
  border-bottom: 2px solid red;
}

/*-----------------------------
        LEFT
-------------------------------*/
.section__left{
  background: #05637a;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29%;
  flex: 0 0 29%;
  padding: 2rem;
}

.section__left .heading {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.section__left .heading img{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: top;
  border: 5px solid #000;
}

.section__left .heading h3 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 1rem;
}

.section__left .heading p {
  color: #fff;
  margin-top: .4rem;
  margin-bottom: 1.3rem;
}

.section__left .contact__box h4,
.section__left .language h4,
.section__left .interests h4,
.section__left .strengths h4 {
  color: #fff;
  text-transform: uppercase;
  margin-top: 2rem;
}

.section__left .contact__box ul,
.section__left .language ul,
.section__left .interests ul,
  .section__left .strengths ul {
  list-style: none;
}

.section__left .contact__box ul li i,
.section__left .language ul li i,
.section__left .interests ul li i,
.section__left .strengths ul li i{
  font-size: 1.3rem;
  margin-top: .4rem;
  margin-right: .6rem;
}

.section__left .contact__box ul li span,
.section__left .contact__box ul li a,
.section__left .language ul li span,
.section__left .interests ul li span,
.section__left .strengths ul li span{
  color: #d6d5d5;
  text-decoration: none;
}

/*-----------------------------
          RIGHT
-------------------------------*/
.section__right {
  background: goldenrod;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 40px;
  color: #fff;
}

.heading__right{
  text-transform: uppercase;
  font-weight: 800;
  color: #334b99;
  margin-bottom: .5rem;
}

.section__right .objective__content .objective__box p{
  margin-bottom: 1rem;
}

.section__right .experience__content .experience__box p:last-child {
  margin-bottom: 1rem;
}

.section__right .edu__content{
  margin-bottom: 2rem;
}


.section__right .experience__content .experience__box,
.section__right .edu__content .edu__box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.section__right .experience__content .experience__box .title,
.section__right .edu__content .edu__box .duration{
  text-transform: uppercase;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin-right: 10px;
}

.section__right .experience__content .experience__box .detail,
.section__right .edu__content .edu__box .institute{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}

.section__right .experience__content .experience__box .title{
  text-transform: capitalize;
}

.section__right .edu__content .edu__box .institute span{
  font-weight: bold;
  color: #c72087;
}

.section__right .skills{
  margin-bottom: 2rem;
}

.section__right .skills .skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.section__right .skills .skills__content h4 {
  font-weight: 500;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin-right: 10px;
}

.section__right .skills .skills__content .skills__percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
  color: #000;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}

.section__right .skills .skills__content .skills__percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
  font-size: .7rem;
  text-align: center;
}

/*-----------------------------
        BOTTOM
-------------------------------*/
.bottom__section{
  padding: 3rem;
  background: goldenrod;
}

.bottom__section .certificate h4{
  color: #c72087;
}

.bottom__section .certificate p{
  color: #fff;
  margin-bottom: 1rem;
}

.bottom__section .personal__info .personal__info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  color: #fff;
}

.bottom__section .personal__info .personal__info__item h4:nth-of-type(1){
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin-right: 10px;
}

.bottom__section .personal__info .personal__info__item h4:nth-of-type(2){
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
}